{{ partial "header.html" . }}
  <section class="section">
    <div class="container">
      <h2 class="title is-3">Learning Path</h3>
      <div class="columns">
      {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
        {{ if eq "categories" $taxonomyname }}
          {{ range $key, $value := $taxonomy }}
            <div class="column is-6">
              <h3 class="title is-5">{{ $key | title }}</h3>
              <ul>
                {{ range $value.Pages }}
                  <li>
                    {{ .Date }}
                    <ul>
                    {{ range .Tags }}
                      <li><a href="tags/{{ . | urlize }}">{{ . }}</a> </li>
                    {{ end }}
                    </ul>
                    <h5 class="subtitle is-6">{{ .Title | title }}</h5>
                  </li>
                {{ end }}
              </ul>
            </div>
          {{ end }}
        {{ end }}
      {{ end }}
      </div>
    </div>
  </section>
{{ partial "footer.html" . }}
