</div>
{{ if not $.IsHome }}
<footer class="footer">
  <div class="container">
    <div class="content is-text-centered">
      <p>
        {{ .Site.Params.footer | safeHTML }}
      </p>
    </div>
  </div>
</footer>
{{ end }}
{{ template "_internal/google_analytics.html" . }}
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "6cc886b7-3144-45d7-8174-8ea1a3ecf927", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
</body>
</html>
