{{ partial "head.html" . }}
{{ partial "header.html" . }}
{{ partial "learning-menu.html" . }}
<section class="section">
  <div class="container">
    <h1 class="title">Learning Notes</h1>
    <h2 class="subtitle">
    Things that I've learned today, like commands, configurations, etc... All things that are not part of a learn path...
    </h2>
    <hr />
    {{ range .Data.Pages.GroupByDate "2 January 2006" }}
      <div class="til">
        <h2 class="title is-6">{{ .Key }}</h2>
        {{ range .Pages.ByDate }}
          {{ range .Params.categories }}
            <span class="tag is-medium">{{ . }}</span>
          {{ end }}
          <a href="{{ .Permalink }}" title="{{ .Title}}">{{ .Title }}</a>
        {{ end }}
      </div>
    {{ end }}
  </div>
</section>
{{ partial "footer.html" . }}
